certifi
charset-normalizer
dj-database-url
Django
django-cors-headers
django-heroku
djangorestframework
djangorestframework-simplejwt
docopt
idna
pipreqs
pkg_resources
postgres
psycopg2
psycopg2-binary
psycopg2-pool
PyJWT
python-dotenv
pytz
requests
sqlparse
urllib3
uuid
whitenoise
yarg
